<div class="slider">



    <div class="slides">

        <img class="slide-item"
            src="https://res.cloudinary.com/prd-online-store/image/upload/v1631231301/media/Campaign/It%27s%20a%20state%20of%20mind/Location%20Shoot/main_mojkkn.jpg"
            alt="">
        <img class="slide-item"
            src="https://res.cloudinary.com/prd-online-store/image/upload/v1631231303/media/Campaign/It%27s%20a%20state%20of%20mind/Location%20Shoot/slide-6_lzadxs.jpg"
            alt="">
        <img class="slide-item"
            src="https://res.cloudinary.com/prd-online-store/image/upload/v1631231302/media/Campaign/It%27s%20a%20state%20of%20mind/Location%20Shoot/slide-4_r1k51e.jpg"
            alt="">
        <img class="slide-item"
            data-img="//cdn.shopify.com/s/files/1/0066/2326/4828/files/ASHLUXE-PARADISE-INYONI-LOCATION0057-1_x950.png?v=1628967799"
            src="//cdn.shopify.com/s/files/1/0066/2326/4828/files/ASHLUXE-PARADISE-INYONI-LOCATION0057-1_x950.png?v=1628967799"
            alt="">
    </div>