.campg-section{
    img{
        width: 100%;
        object-fit: cover;
    }
    figure{
        text-align: center;
        text-transform: uppercase;
        font-weight:900;
    }
    div{
        width: 48%;
    }
}