<app-nav-bar></app-nav-bar>
<div class="home-container">
  <app-carousel></app-carousel>
  <section class="campaign-section">
    <app-hero
      imagePath="https://res.cloudinary.com/prd-online-store/image/upload/v1631231303/media/Campaign/It%27s%20a%20state%20of%20mind/Location%20Shoot/slide-6_lzadxs.jpg"
      caption="welcome to paradice">
    </app-hero>
    <app-hero
      imagePath="https://res.cloudinary.com/prd-online-store/image/upload/v1631231301/media/Campaign/It%27s%20a%20state%20of%20mind/Location%20Shoot/main_mojkkn.jpg"
      caption="paradice is a state of mind">
    </app-hero>
    <app-hero
      imagePath="https://res.cloudinary.com/prd-online-store/image/upload/v1631231302/media/Campaign/It%27s%20a%20state%20of%20mind/Location%20Shoot/slide-4_r1k51e.jpg"
      caption="broken chain">
    </app-hero>
    <app-hero
      imagePath="https://res.cloudinary.com/prd-online-store/image/upload/v1631231298/media/Campaign/It%27s%20a%20state%20of%20mind/Location%20Shoot/slide-17_i9cgnz.jpg"
      caption="FLOOD THE ROAD">
    </app-hero>

  </section>
  <section>

  </section>


</div>