<!-- desktop view nav -->
<header class="base-nav nav--desktop">
    <nav class="site-nav">
        <ul class="pointer">
            <li> PARADICE PARADE </li>
        </ul>
    </nav>
    <nav class="item site-nav">
        <ul class="flex-container pointer">
            <li>About Us</li>
            <li>Shop</li>
            <li>Campaign</li>
        </ul>
    </nav>
    <nav class="site-nav">
        <ul class="pointer">
            <li>[cart 0]</li>
        </ul>
    </nav>
</header>

<!-- mobile view nav -->
<header class="base-nav nav--mobile">
    <nav class="pointer site-nav--mobile">
        <i class="gg-menu"></i>
    </nav>

    <nav class="site-nav--mobile">
        <ul class="pointer center-text">
            <li> PARADICE PARADE </li>
        </ul>
    </nav>

    <nav class="site-nav--mobile">
        <div class="flex-container pointer">
            <i class="gg-shopping-bag"></i>
            <span class="left-padding">9</span>
        </div>

    </nav>

</header>
<aside class="side-menu">
    <ul class="pointer clear-list-styling">
        <li>About Us</li>
        <li>Shop</li>
        <li>Campaign</li>
    </ul>
</aside>